doctype html
html(lang='en')
  head

  body
   ul
    li
      a(href='/api/markets') /api/markets
    li
      a(href='/api/budget') /api/budget
    li
      a(href='/api/blockchain') /api/blockchain